<div class="loading" *ngIf="showLoading">
  <mat-spinner></mat-spinner>
</div>
<h1>Related Users</h1>
<div class="mac-list">
  MAC<br/><br/>
  <button mat-raised-button color="primary" (click)="last500Mac()">前500条</button>
  <button mat-raised-button color="primary" (click)="next500Mac()">后500条</button>
  <br/><br/>
  <ul>
    <li *ngFor="let mac of macs" (click)="changeMac(mac)">{{mac}}</li>
  </ul>
</div>
<div class="relation">
  <h3>{{macSelected}}</h3>
  <span *ngFor="let item of macRelList; let i = index" (click)="changeMac(item.mac)">
    <span class="number">{{i + 1}}</span>
    {{item.mac}}: {{item.score | number: '1.8'}}
  </span>
  <span *ngIf="!macRelList.length">No related user found.</span>
  <!-- <span>Note that this social relation score is a relative value depending on corresponding MAC addresses, not a absolute value.</span> -->
</div>